<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] %-30.30logger{3} : %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		<Logger debug="de.unihannover.swp2015.robots2.ai.core.AI"
			level="trace">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger debug="de.unihannover.swp2015.robots2.ai.graph.AIGraph"
			level="debug">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>